:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #000;
  background-color: #fff;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  max-width: 649px;
  margin: 0 auto;
  padding: 1rem;
}

textarea {
  width: 100%;
  min-height: 249px;
  resize: none;
}
